@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;500;700&display=swap");
@include foundation-everything;

// Place global CSS here
*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

.logo {
  padding: 0;
  display: block;
}

.user-builds-buttons {
  display: flex;
  flex-direction: column;
}

.authentication-button {
  margin: 1rem;
  background-color: #00979c;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}

.authentication-button:hover {
  background-color: #028184;
}

.grid-container {
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.project-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
  justify-content: center;
  align-items: stretch; /* Ensures all items have the same height */
}

.project-tile {
  margin-top: 1rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 1.5rem;
  padding-bottom: 0rem;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  text-align: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Space out content vertically */
  height: 100%; /* Make all tiles have the same height */
}

.project-tile img {
  max-height: 180px; /* Set a maximum height for the image */
  object-fit: cover; /* Ensures the image covers the area without stretching */
  width: 100%;
  border-radius: 10px;
}

.project-tile h3, .project-tile h4, .project-tile h5 { /* Adjust margin as needed */
  font-size: 1.3rem;
  color: #000;
}

.project-tile h4 {
  margin:0rem;
  font-size: 1.2rem;
  color: #555;
  font-family: "Montserrat", sans-serif;
}

.project-tile h5 {
  margin-top: 0;
  font-size: 1rem;
  color: #777;
  font-family: "Roboto", sans-serif;
}

.project-tile:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.menu,
.navigation {
  display: flex;
  list-style: none;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.top-bar-buttons-container {
  display: flex;
  flex-direction: row-reverse;
}

.sign-up {
  align-items: flex-end;
}

.sign-out {
  margin-top: 1rem;
}

.sign-in {
  margin-top: 1rem;
}

.sign-in-sign-out {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  height: 130px;
}
.top-bar-left {
  display: inline-block;
  align-items: center;
  width: 300px;
  margin-right: 10px;
}

.top-bar-left-container{
  display: flex;
  align-items: center;
}

.project-show {
  padding: 2rem;
  max-width: 1000px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: "Roboto", sans-serif;
}

.project-show h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #333;
  font-family: "Montserrat", sans-serif;
}

.project-show p {
  font-size: 1.1rem;
  margin-bottom: 1rem;
  color: #555;
}

.project-show h4 {
  font-size: 1.3rem;
  margin-top: 1.5rem;
  color: #333;
  font-family: "Montserrat", sans-serif;
}

.project-show code {
  display: block;
  background-color: #f5f5f5;
  padding: 1rem;
  border-radius: 5px;
  font-size: 1rem;
  color: #333;
  font-family: "Roboto", sans-serif;
}

.new-build-form {
  width: 75%;
  margin: 20px auto;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: "Roboto", sans-serif;
}

.new-build-form h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

.new-build-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-build-form label {
  width: 100%;
  margin-bottom: 15px;
  font-size: 1.1rem;
  color: #555;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.new-build-form input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
  margin-top: 5px;
}

.new-build-form input:focus {
  outline: none;
  border-color: #00979c;
  box-shadow: 0 0 5px rgba(0, 151, 156, 0.5);
}

.new-build-form button {
  background-color: #00979c;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  margin-top: 20px;
}

.new-build-form button:hover {
  background-color: #028184;
}

.part-button {
  cursor: pointer;
  font-size: 18px;
  background-color: #00979c;
  color: #ffffff;
  border-radius: 5px;
  padding: 6px;
  font-family: "Montserrat", sans-serif;
  transition: background-color 0.2s ease;
}

#my-builds, #edit-build-button, #delete-build-button, #drag-and-drop {
  display: flex;
  margin-bottom: 20px;
  background-color: #e67e23;
  width: 150px;
  justify-content: center;
}

.part-button:hover {
  background-color: #028184;
}

#new-build-button,
#my-builds, #edit-build-button, #delete-build-button {
  display: inline-block;
  background-color: #e67e23;
  margin-right: 10px;
  text-align: center;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  line-height: 1;
  margin-top: 1rem;
  padding: 0.7rem 1rem;
  padding-top: 0.7rem;
  padding-right: 1rem;
  padding-bottom: 0.7rem;
  padding-left: 1rem;
}

#new-build-button:hover,
#my-builds:hover {
  background-color: #d5721c;
}

.dropzone {
  font-size: 1.5rem;
  width: 50%;
  margin: 0 auto;
  white-space: pre-wrap;
}

#my-builds {
  display: flex;
}

#delete-part {
  margin-left: 10px;
  width: 8rem;
}

#parts-list {
  display: flex;
  margin: 1rem;
  flex-direction: column;
  align-items: flex-start;
  border-bottom: 2px solid #028184;
  border-radius: 10px;
  padding: 10px;
}

#parts-list h5 {
  margin-left: 1rem;
}

#part {
  text-align: left;
}
#logo-container {
  padding: 0rem;
  height: 110px;
  width: 110px;
}

.user-logged-in {
  display: inline-block;
  white-space: nowrap; 
  height: 3rem;
  text-align: center;
  background-color: #eaeaea;
  text-align: center;
  font-size: 1.5rem;
  align-items: flex-start;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  line-height: 1;
  margin-top: 1rem;
  padding: 0.7rem 1rem;
  padding-top: 0.7rem;
  padding-right: 1rem;
  padding-bottom: 0.7rem;
  padding-left: 1rem;
}

.user-logged-in:hover{
  cursor:default;
}

#thumbnail-image {
  height: 180px;
}

#show-page-thumbnail {
  text-align: center;
}
#show-page-thumbnail img{
  height: 100%;
}

.button-container {
  display: flex
}

.build-buttons {
  display: flex;
  flex-direction: column;
}

.images-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.project-image {
  width: auto;
  height: auto;
}

.github-url {
  margin-top: 50px;
  word-wrap: break-word;
  white-space: pre-wrap;
}

#delete-image {
  margin-left: 15px;
}

#github-login-button {
  display: flex;
  align-items: center;
}

#github-login-button:hover {
  background-color: #777;
  cursor: pointer;
}

#github-logo {
  height: 70px;
}

#github-login-text{
  font-family: "Montserrat", sans-serif;
  font-size: large;
  padding-right: 1rem;
  margin:0rem;
}