@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;500;700&display=swap");
@include foundation-everything;

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
}

// body::before {
//   content: "";
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   background:
//     url("../../../public/images/left-background.png") center left no-repeat fixed,
//     url("../../../public/images/right-background.png") center right no-repeat fixed;
//   background-size: 12%, 12%;
//   opacity: 1;
//   transition: opacity 1s ease-out;
//   z-index: -1;
// }

body.hide-background::before {
  content: none;
}

body.grey-background {
  background-color: #ecf1f1;
}

@media (max-width: 1500px) {
  body::before {
    opacity: 0;
  }
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

.banner {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: auto;
  text-wrap: wrap;
  text-align: center;
  align-items: center;
  box-sizing: unset;
}

.banner.about-page-section-container-right {
  flex-direction: row-reverse;
}

.banner img {
  height: inherit;
  max-width: 50%;
  object-fit: contain;
  padding: 10px 0 10px 10px;
}

.banner.top-banner,
.banner.third-banner,
.banner.fifth-banner {
  background-color: #00979d;
}

.banner.top-banner {
  margin-top: 150px;
}

.banner.fifth-banner {
  margin-bottom: 100px;
}
.banner.top-banner img {
  height: 490px;
}

.banner.second-banner img {
  padding-right: 50px;
  height: 700px;
  object-fit: contain;
}

.banner.third-banner img {
  padding-right: 50px;
  height: 600px;
  object-fit: contain;
}

.banner.fourth-banner img {
  height: 500px;
  object-fit: contain;
}
.banner.fifth-banner img {
  height: 550px;
}

.banner h1,
.banner h2,
.how-to-use h1,
.how-to-use h2,
.how-to-use p,
.how-to-use li {
  color: #303030;
  font-family:
    Chronicle Deck,
    Times,
    serif;
  font-weight: 900;
  letter-spacing: 0.015em;
}

.how-to-use p,
.how-to-use li {
  font-size: 1.5rem;
  white-space: break-spaces;
}

.how-to-use-page-items-container.third h1 {
  text-align: center;
  padding: 30px 0px;
}

.how-to-use-page-items-container.third .example-github-url {
  border: 2px solid #c9d2d2;
  padding: 5px;
}

.banner h1 {
  flex: 1 1 100%;
  max-width: 50%;
  max-height: max-content;
  font-size: clamp(3rem, 5vw, 4rem);
  margin: 0 auto;
}

.banner.top-banner *,
.banner.third-banner *,
.banner.fifth-banner * {
  color: white;
}

@media (max-width: 768px) {
  .banner h1 {
    max-width: 90%;
  }
  .banner img {
    max-width: 90%;
  }
}

.banner.second-banner {
  padding: 0px 0px;
}

#how-to-use-logo {
  margin-top: 0px;
  background-color: inherit;
}

.how-to-use .example-user-credentials {
  margin-top: 50px;
  margin-bottom: 50px;
}

#example-email,
#example-password {
  border: 2px solid #c9d2d2;
  padding: 5px;
}

.project-list {
  margin-top: 120px;
  margin-left: 15px;
  margin-right: 15px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-content: center;
  align-items: stretch;
  gap: 1.3rem;
}

.project-list-page-container {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.project-list-page-container .banner-image {
  height: 490px;
}

.project-list-page-container .banner {
  margin-top: 100px;
  background-color: white;
  padding: 0px;
}

.tag-input {
  min-width: 200px;
  max-width: fit-content;
  margin-bottom: 70px;
}

.tag-input .MuiAutocomplete-input {
  box-shadow: none;
}

.tag-input .MuiAutocomplete-input:focus {
  border: none;
}

.tag-input .MuiAutocomplete-inputRoot {
  align-items: flex-start;
}

.add-tags {
  width: 100%;
}

.project-list-pagination-container {
  margin-top: 30px;
  margin-bottom: 30px;
}

.project-tile {
  position: relative;
  border-radius: 10px;
  padding: 0.7rem;
  padding-bottom: 0rem;
  text-align: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.25s;
  height: auto;
}

.project-list .tags {
  margin-top: 200px;
}

.project-tile:hover {
  background-color: #ecf1f1;
}

.project-tile .project-tile-info-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

.project-tile .project-tile-info-container h4,
.project-tile .project-tile-info-container h5 {
  font-size: 1.2rem;
}
.project-tile .username {
  margin-bottom: 0px;
  margin-left: 7px;
  font-weight: 900;
  color: rgb(0, 129, 132);
}

.project-tile .project-tile-username-info {
  display: inline-flex;
}

.project-tile.my-builds-tile .my-builds-forks-button {
  display: flex;
  justify-content: flex-end;
}

.project-tile img {
  max-height: 180px;
  object-fit: cover;
  width: 100%;
}

.project-tile h3,
.project-tile h4,
.project-tile h5 {
  text-align: left;
  font-size: 1.3rem;
  color: #000000;
}

.project-tile h3 {
  margin-top: 5px;
  margin-bottom: 10px;
}

.project-tile h4 {
  margin: 0rem;
  font-size: 1.2rem;
  color: #555;
}

.project-tile h4,
h5 {
  font-family: OpenSans-Bold;
}

.project-tile h5 {
  margin-top: 0;
  font-size: 1rem;
  color: #777;
  font-family: "Roboto", sans-serif;
}

.project-tile .project-tile-title.has-forks {
  margin-bottom: 20px;
}
.button-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.project-tile .see-forked-versions-button {
  position: absolute;
  bottom: 5px;
  right: 0.7rem;
}

.menu {
  display: flex;
  list-style: none;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.sign-out {
  margin-top: 0rem;
}

.sign-in {
  margin-top: 100px;
}

.sign-in.registration,
.sign-in.standard-sign-in {
  margin-left: 100px;
}

.sign-in.registration form,
.sign-in.standard-sign-in form {
  margin-right: 200px;
}

.project-show,
.how-to-use {
  padding: 2rem;
  max-width: 1200px;
  margin: 100px auto;
  font-family: "Roboto", sans-serif;
}

.project-show {
  background-color: #ecf1f1;
}

.how-to-use {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.how-to-use img {
  width: 500px;
}

.project-show h1,
.project-show h2,
.project-show h3 {
  font-size: 4rem;
  font-family: OpenSans-Regular;
  margin-bottom: 0;
  color: #374146;
  line-height: 170%;
  letter-spacing: 0.01em;
  margin-bottom: 0px;
  background-color: white;
  text-align: center;
  padding: 30px;
}

.project-show h1 {
  font-size: 4rem;
  padding-bottom: 0px;
  padding-top: 0px;
  width: 90%;
  margin-bottom: 100px;
  border-bottom: 2px solid #c9d2d2;
  font-weight: 700;
}

.project-show .description-title {
  padding-top: 10px;
}

.showpage-items-container {
  margin-bottom: 30px;
}

.showpage-items-container.tag-list {
  border-radius: 0px;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  margin-bottom: 0px;
}

.showpage-items-container.tag-list p {
  color: #374146;
  margin-left: 10px;
  margin-bottom: 0px;
  font-size: 2rem;
}

.tag-list .tag-section {
  border-top: 2px solid #c9d2d2;
  padding-top: 5px;
  padding-bottom: 15px;
  border-bottom: 2px solid #c9d2d2;
  border-radius: 6px;
  width: fit-content;
  max-width: 60%;
}

.showpage-items-container .tag-stack {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.tag-stack .tag-chip {
  padding: 20px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.tag-stack .tag-chip span {
  font-size: 1rem;
}

.project-show code {
  display: block;
  background-color: #f5f5f5;
  padding: 1rem;
  border-radius: 5px;
  font-size: 1rem;
  color: #333;
  font-family: "Roboto", sans-serif;
}

.project-show .code-message {
  padding: 0px;
}

.new-build-form-container,
.edit-project-form-container,
.fork-project-form-container {
  margin: 100px auto;
  text-align: left;
  padding: 20px;
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
}

.new-build-form-container .css-sws92j-JoyTextarea-textarea,
.edit-project-form-container .css-sws92j-JoyTextarea-textarea,
.fork-project-form-container .css-sws92j-JoyTextarea-textarea,
.new-build-form-container .MuiTextarea-textarea,
.edit-project-form-container .MuiTextarea-textarea,
.fork-project-form-container .MuiTextarea-textarea,
.new-build-form-container .MuiTextarea-textarea:focus,
.edit-project-form-container .MuiTextarea-textarea:focus,
.fork-project-form-container .MuiTextarea-textarea:focus {
  border: none;
  box-shadow: none;
}

.MuiInputBase-input.top-bar-search:focus {
  background-color: inherit;
  border: inherit;
  box-shadow: inherit;
}

.new-build-form-container h3,
.edit-project-form-container h3,
.fork-project-form-container h3,
.new-build-form-container h5,
.edit-project-form-container h5,
.fork-project-form-container h5 {
  text-align: center;
  margin-bottom: 20px;
}

#github-url-explanation {
  text-align: left;
  font-size: 2.3rem;
  padding: 0px;
}

.project-show .code-fetched-heading {
  font-size: 3rem;
}

.new-build-form-container form,
.edit-project-form-container form,
.fork-project-form-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#submit-form {
  width: fit-content;
  margin-top: 25px;
}

.parts-list,
.apps-and-platforms,
.form-parts-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 40px;
  row-gap: 20px;
  margin-bottom: 10px;
}

.parts-list,
.form-parts-list {
  align-items: end;
  padding: 20px;
}

#parts-heading {
  border-radius: 6px 6px 0px 0px;
}

.showpage-items-container.parts-section {
  border-radius: 0px 0px 6px 6px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.parts-list.form-parts-list p {
  border-bottom: none;
}

@media (max-width: 600px) {
  /* Adjust the max-width as needed */
  .form-parts-list {
    display: flex;
    flex-wrap: wrap;
  }
}

#parts-heading-form {
  justify-self: center;
  padding: 0px;
  margin-bottom: 40px;
  border-bottom: 2px solid #c9d2d2;
  width: 80%;
}

.parts-list p,
.apps-and-platforms p {
  white-space: pre-line;
  overflow-wrap: anywhere;
  padding: 5px;
  box-sizing: border-box;
}
.apps-and-platforms p {
  border-bottom: 2px solid #c9d2d2;
}

.part-item-in-form,
.part-item-in-showpage {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  overflow-wrap: anywhere;
  padding: 10px 20px;
  border: 2px solid #c9d2d2;
  border-radius: 10px;
}

.part-item-in-showpage {
  justify-content: center;
}

.part-item-in-form .delete-part {
  width: fit-content;
}

.part-item-in-form .part-with-purchase-link {
  display: flex;
}

.part-with-purchase-link p {
  margin-right: 10px;
}

.part-with-purchase-link svg {
  color: #374146;
}

.part-item-in-showpage .part-with-purchase-link,
.part-item-in-showpage .part-without-purchase-link {
  display: flex;
  justify-content: center;
}

#logo {
  height: 52px;
}

#logo:hover {
  cursor: pointer;
}

.user-logged-in {
  display: inline-block;
  white-space: nowrap;
  height: 3rem;
  text-align: center;
  background-color: #eaeaea;
  text-align: center;
  font-size: 1.5rem;
  align-items: flex-start;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  line-height: 1;
  padding: 0.7rem 1rem;
  padding-top: 0.7rem;
  padding-right: 1rem;
  padding-bottom: 0.7rem;
  padding-left: 1rem;
}

.user-logged-in:hover {
  cursor: default;
}

#thumbnail-image {
  height: 180px;
}

#thumbnail-and-title {
  background-color: white;
  margin-bottom: 30px;
  border-radius: 6px;
}

.images-container {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.images-container.instructions-images {
  background-color: #ecf1f1;
}

.instructions-list img {
  width: 100%;
}

.instructions-list.showpage-items-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.instructions-list .instructions-list-buttons-container {
  display: flex;
  justify-content: space-between;
}

.instructions-list .edit-instructions-button-container {
  position: sticky;
  top: 60px;
  z-index: 1;
}

.instructions-list-button.edit-instructions {
  position: absolute;
}

.project-image {
  width: 100%;
  height: auto;
  padding: 0px 10px;
  margin-bottom: 15px;
}

.project-image.show-page-thumbnail {
  padding: 0px 10px;
  background: white;
}

.project-diff-view {
  display: flex;
  flex-direction: column;
}

.project-diff-view h1,
.project-diff-view h2 {
  width: fit-content;
  font-family: OpenSans-Regular;
  color: #374146;
  line-height: 170%;
  letter-spacing: 0.01em;
  margin-bottom: 0px;
  border-bottom: 2px solid #c9d2d2;
}

.project-diff-view h1 {
  margin-bottom: 50px;
  margin-top: 80px;
  font-size: 4rem;
  align-self: center;
}

.project-diff-view h2 {
  width: 50%;
  margin-left: 50px;
  font-size: 3.5rem;
  margin-bottom: 10px;
}

#github-logo {
  height: 25px;
  margin-right: 8px;
}

#github-logo:hover {
  cursor: pointer;
}

#github-login-button {
  height: 52px;
  margin: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 15px;
  padding-right: 15px;
}

#fork-project,
#edit-project {
  margin-right: 1rem;
}

#unauthenticated-items,
#authenticated-items {
  display: flex;
  align-items: center;
}

#sign-in-button,
#sign-out-button,
#sign-up-button,
#new-build-button,
#how-to-use-button,
#projects-button,
#my-builds-button {
  align-items: center;
  color: white;
  height: 52px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
}

#how-to-use-button {
  margin-right: 1rem;
}

#projects-button,
#my-builds-button,
#new-build-button,
#burger-menu {
  margin: 0px 4px;
}

#how-to-use-button:hover,
#projects-button:hover,
#homepage-button:hover,
#my-builds-button:hover,
#new-build-button:hover {
  background-color: #1665c0;
  color: white;
}

.burger-menu-item {
  color: black;
  text-align: center;
}
.burger-menu-item:hover {
  color: black;
}

#sign-up-button {
  margin-left: 10px;
}

#homepage-button {
  display: flex;
  color: white;
  height: 52px;
  margin: 0;
  padding: 0px;
  padding-right: 20px;
}

#top-bar-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 0px;
}

#menu-appbar ul {
  padding: 0px;
}

.top-left-app-bar {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

.project-image-container,
.instruction-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  padding: 16px;
  max-width: 100%;
  overflow: hidden;
}

.project-image-container.thumbnail-image-container {
  margin-bottom: 0px;
}

.thumbnail-image-container .project-image {
  padding: 0px;
}

.part-title {
  font-size: 1.5em;
  color: #333;
  margin-bottom: 10px;
  padding: 5px 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#new-build-form input,
#edit-project-form input,
#fork-project-form input {
  border: none;
  box-shadow: none;
}

#new-build-form .instruction-text-container,
#edit-project-form .instruction-text-container,
#fork-project-form .instruction-text-container {
  margin-bottom: 40px;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.instruction-text-container .instruction-text h2 {
  font-size: 3rem;
}

.instruction-text-container .instruction-text h1 {
  border-bottom: none;
}

.instruction-text-container .instruction-text img {
  width: 100%;
}

.tinymce-container {
  display: flex;
  min-width: 100%;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 30px;
}

//Custom save instructions button in TinyMCE
button[data-mce-name="upload-markdown"].tox-tbtn,
button[data-mce-name="download-as-markdown"].tox-tbtn {
  margin: 0px 20px 0px 0px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  translate: 0px -10px;
  transition: 0.25s;
  color: white;
  background: #1976d2;
  font-size: 20px;
  padding: 15px 10px;
  border-radius: 6px;
  font-size: 1rem;
  width: fit-content !important;
}

button[data-mce-name="upload-markdown"].tox-tbtn:hover,
button[data-mce-name="upload-markdown"] .tox-tbtn__select-label:hover,
button[data-mce-name="download-as-markdown"].tox-tbtn:hover,
button[data-mce-name="download-as-markdown"] .tox-tbtn__select-label:hover {
  cursor: pointer;
  color: white;
  background: #1665c0;
}
button[data-mce-name="upload-markdown"].tox-tbtn .tox-tbtn__select-label,
button[data-mce-name="download-as-markdown"].tox-tbtn .tox-tbtn__select-label {
  font-weight: 500;
}

.tox.tox-tinymce {
  z-index: 1 !important;
}

.tox .tox-statusbar__branding a {
  display: none !important;
}

.tox-statusbar {
  position: relative !important;
  height: 39px !important;
}

.tox .tox-throbber__busy-spinner {
  display: none !important;
}

.tox .tox-mbtn__select-label {
  font-size: 17px;
}

.tox .tox-menubar {
  gap: 5px;
  margin-top: 10px;
}

.tox .tox-toolbar__group {
  align-items: flex-end !important;
}

.form-items-container .large-button.change-thumbnail-image {
  width: fit-content;
  margin-bottom: 60px;
}

.form-items-container.parts-sub-form {
  border-radius: 0px 0px 6px 6px;
}

.form-items-container.github-url-and-submit,
.form-items-container.new-instruction {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#form-instructions-heading {
  border-radius: 6px;
  translate: 0px 6px;
}

.instructions-and-images {
  width: 100%;
}

.instruction-text img {
  padding: 5%;
  border-radius: 4px;
}

.form-items-container.top-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 6px 6px 0px 0px;
}

.instruction-text-container.form-items-container .large-button.delete-instruction {
  width: max-content;
}

.instruction-text-container.form-items-container .large-button.delete-instruction:hover,
.large-button.delete-image:hover,
.large-button.instruction-list-button:hover,
.large-button.change-thumbnail-image:hover,
.large-button.add-part.project-tile:hover,
#add-instruction-text,
#add-instruction-image {
  text-decoration: "none";
  color: "white";
}

#code-heading {
  padding: 0px;
}

#upload-project-image {
  margin-bottom: 50px;
}

.css-md26zr-MuiInputBase-root-MuiOutlinedInput-root {
  margin-bottom: 20px;
}

.form-input.text-field {
  width: 100%;
  margin-bottom: 40px;
}

.form-input.text-field.title-input {
  margin-bottom: 20px;
}

.form-input {
  width: 100%;
}

.large-button.instruction-list-button {
  margin: 5px 0px;
  width: fit-content;
}

.large-button.instructions-list-button {
  margin: 0px;
  font-size: 17px;
  height: 45px;
}

.instructions-list .download-markdown-button-instructions-list {
  align-self: flex-end;
  width: fit-content;
  z-index: 1;
}

.instruction-text img {
  width: 100%;
}

#code-input {
  width: 100%;
  margin-top: 30px;
}

.callout.alert {
  width: 100%;
}

#image-url-input-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

#part-input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: flex-start;
}

#add-part-button {
  max-width: fit-content;
  margin-top: 5px;
  height: fit-content;
}

#part-input-container .part-name-input,
#part-input-container .part-purchase-url-input {
  margin: 5px 0px;
}

#part-input-container .part-submit {
  display: flex;
  flex-direction: column;
}

.part-submit .url-invalid {
  color: #b70000;
  margin: 0px;
}

#github-example-url {
  overflow-wrap: anywhere;
  margin-top: 30px;
  margin-bottom: 30px;
}

.showpage-items-container,
.form-items-container,
.how-to-use-page-items-container {
  margin-bottom: 30px;
  background-color: white;
  border-radius: 6px;
  width: 100%;
  padding: 16px;
}

.instruction-list-buttons-container {
  display: flex;
  width: 100%;
  margin: 10px;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.showpage-items-container p,
.form-items-container p,
.form-items-container a,
.project-show .preserve-white-space {
  width: 100%;
  font-family: OpenSans-Regular;
  overflow-wrap: anywhere;
  font-style: normal;
  line-height: 170%;
  letter-spacing: 0.01em;
  color: #374146;
  font-weight: 400;
  font-size: 1.5rem;
}

.form-items-container p,
.form-items-container a {
  width: fit-content;
}

.form-items-container a {
  margin-bottom: 1rem;
}

.form-items-container.apps-and-platforms {
  margin-bottom: 0px;
}

.project-show .showpage-title {
  padding-top: 20px;
  font-weight: 700;
}

.project-show .preserve-white-space {
  white-space: pre-wrap;
}

.see-forked-versions-button:focus {
  color: white;
}

.how-to-use-page-items-container.how-to-fork * {
  color: white;
}

.how-to-use-page-items-container.how-to-fork {
  background-color: #00979d;
}

.how-to-use .how-to-use-page-items-container.top-banner {
  margin-top: 0px;
}

.how-to-use .announcement {
  margin-top: 30px;
  background-color: yellow;
}

.how-to-fork h1 {
  text-align: center;
  padding: 30px 0px;
}

.fork-project-button-container,
.edit-delete-build-button-container {
  background-color: white;
  padding: 10px;
  border-radius: 6px 6px 0px 0px;
}

.github-url {
  word-wrap: break-word;
  overflow-wrap: break-word;
  width: 100%;
  display: block;
}
